{% extends 'navi.html' %}

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark text-white" >
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
                <li>
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Logout</a>
                </li>
              </div>
            </div>
          </nav>
    </header>

    {% block content %}

        

    {% endblock %}



    <body background="{% static 'images/doc.png' %}">
      <input type="checkbox" id="check">
      <label for="check">
          <span class="fa-solid fa-bars" id="btn"></span>
          <span class="fa-regular fa-rectangle-xmark" id="cancel"></span>
      </label>
      <div class="sidebar">
          <header> DOCTOR </header>
          <ul>
              <li ><a href="{% url 'viewappoinments' %}"><span class="fa-solid fa-stethoscope"></span> APPOINMENTS </a></li>
              <!-- <li><a href="#"><span class="fa-solid fa-hospital-user"></span> PATIENT DETAILS </a></li> -->
              <li ><a href="{% url 'logout' %}" ><span class="fa-solid fa-right-from-bracket"></span> LOGOUT </a></li>     
          </ul>
      </div>
  
      <div id="cont">
          <center><span style="font-size: 50px;position: absolute; top: 10%;right: 30%;color: white; font-family: fantasy; text-shadow: 2px 2px 5px red;"> WELCOME TO DOCTOR DASHBOARD </span></center>
          <div>
              <a href="{% url 'viewappoinments' %}" id="stetha">
                  <span class="fa-solid fa-stethoscope fa-6x" ></span><br> 
                  <span class="appointment-text">APPOINMENTS</span> 
              </a><br>
              <!-- <li  id="pat"><a href="#"><span class="fa-solid fa-hospital-user"></span> <br>PATIENT DETAILS </a></li> -->
              <a href="{% url 'logout' %}"  id="logout">
                  <span class="fa-solid fa-right-from-bracket fa-6x"></span><br>
                  <span class="appointment-text"> LOGOUT </span>
              </a><br>        
          </div>
      </div>
      